.wbdv-clickable {
    cursor: pointer;
    color: #007bff;
}
.wbdv-clickable:hover {
    text-decoration: underline;
}

.wbdv-highlight {
    background-color: lightblue;
}

.wbdv-cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.3em;
    white-space: nowrap;
}